<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" th:href="@{/static/css/ydui.css}"/>
    <!-- 引入YDUI自适应解决方案类库 -->
    <script th:src="@{/static/js/ydui.flexible.js}"></script>
</head>
<body>

<section class="g-flexview">


    <div class="g-scrollview">
        <div class="m-cell">
            <div class="m-slider" id="J_Slider">
                <div class="slider-wrapper">
                    <div class="slider-item">
                        <a href="#">
                            <img th:src="${sys.getBannerImgUrl()}">
                        </a>
                    </div>
                </div>
                <div class="slider-pagination"></div><!-- 分页标识 -->
            </div>
            <div class="m-celltitle" th:text="${sys.getNotice()}">营业时间: AM 6:00 -- 14:00  PM 17:00 -- 20:00 </div>
            <div class="m-cell">
                <a class="cell-item" href="javascript:;">
                    <div class="cell-left"><i class="cell-icon icon-ucenter-outline"></i>我的账号:&nbsp;&nbsp;&nbsp;<samp  th:text="${account}"></samp></div>
                    <div class="cell-right "><span class="badge badge-radius badge-danger">新用户</span></div>
                </a>
                <a class="cell-item" href="javascript:;">
                    <div class="cell-left"><i class="cell-icon icon-like-outline"></i>我的收藏</div>
                    <div class="cell-right cell-arrow"></div>
                </a>
            </div>

            <div class="m-cell">
                <a class="cell-item" href="/view/orderList">
                    <div class="cell-left"><i class="cell-icon icon-order"></i>我的订单</div>
                    <div class="cell-right cell-arrow">查看全部订单</div>
                </a>
                <a class="cell-item" href="javascript:;">
                    <div class="cell-left"><i class="cell-icon icon-search"></i>查询订单</div>
                    <div class="cell-right cell-arrow">订单ID查询</div>
                </a>
                <a class="cell-item" href="javascript:;">
                    <div class="cell-left"><i class="cell-icon icon-discount"></i>礼物码换购</div>
                    <div class="cell-right cell-arrow">去换购</div>
                </a>
            </div>

        </div>
    </div>

    <footer class="m-tabbar" style="margin-bottom: 8px;">
        <a href="/view/menus" class="tabbar-item">
					<span class="tabbar-icon">
						<i class="icon-order"></i>
					</span>
            <span class="tabbar-txt">菜单</span>
        </a>
        <a href="/view/shop_cart" class="tabbar-item">
					<span class="tabbar-icon">
						<i class="icon-shopcart-outline"></i>
					</span>
            <span class="tabbar-txt">购物车</span>
        </a>
        <a href="/view/about" class="tabbar-item tabbar-active">
					<span class="tabbar-icon">
						<i class="icon-ucenter-outline"></i>
					</span>
            <span class="tabbar-txt">个人中心</span>
        </a>
    </footer>
</section>


<!-- 引入jQuery 2.0+ -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<!-- 引入YDUI脚本 -->
<script th:src="@{/static/js/ydui.js}"></script>
<script>
    // !function ($) {
    //     $('#J_Btn').on('click', function () {
    //         /* 使用：js模块以dialog为例 */
    //         YDUI.dialog.alert('我有一个小毛驴我从来也不骑！');
    //     });
    // }(jQuery);
    $(function() {

    })
</script>
</body>
</html>
