<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" th:href="@{/static/css/ydui.css}"/>
    <!-- 引入YDUI自适应解决方案类库 -->
    <script th:src="@{/static/js/ydui.flexible.js}"></script>
    <style>
        .cell-item > .cell-left, cell-right {
            font-size: 12px;
        }
    </style>
</head>
<body>

<section class="g-flexview" style="background-color: #FFFFFF;">
    <div class="g-scrollview">
        <article class="m-list list-theme4">
            <div class="m-cell">
                <div class="cell-item" th:each="ol :${orderList}">
                    <div class="cell-left">订单号:<span th:text="${ol.getOrderNumber()}">&nbsp;708c6fc5-f360-4a0c-b003-58b70195d97f</span>
                    </div>
                    <div class="cell-right">
                        <span th:if="${ol.getOrderStatus() == 2}" class="badge badge-radius badge-primary">已完成</span>
                        <span th:if="${ol.getOrderStatus() == 0}" class="badge badge-radius badge-danger">被取消</span>
                        <span th:if="${ol.getOrderStatus() == 1}" class="badge badge-radius badge-warning">未支付</span>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <footer class="m-tabbar" style="margin-bottom: 8px;">
        <a href="/view/menus" class="tabbar-item ">
					<span class="tabbar-icon">
						<i class="icon-order"></i>
					</span>
            <span class="tabbar-txt">菜单</span>
        </a>
        <a href="/view/shop_cart" class="tabbar-item">
					<span class="tabbar-icon">
						<i class="icon-shopcart-outline"></i>
					</span>
            <span class="tabbar-txt">购物车</span>
        </a>
        <a href="/view/about" class="tabbar-item tabbar-active">
					<span class="tabbar-icon">
						<i class="icon-ucenter-outline"></i>
					</span>
            <span class="tabbar-txt">个人中心</span>
        </a>
    </footer>
</section>


<!-- 引入jQuery 2.0+ -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<!-- 引入YDUI脚本 -->
<script th:src="@{/static/js/ydui.js}"></script>
<script>
    // !function ($) {
    //     $('#J_Btn').on('click', function () {
    //         /* 使用：js模块以dialog为例 */
    //         YDUI.dialog.alert('我有一个小毛驴我从来也不骑！');
    //     });
    // }(jQuery);
</script>
</body>
</html>
