<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CunCunLi Order</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" th:href="@{/static/css/ydui.css}"/>
    <!-- 引入YDUI自适应解决方案类库 -->
    <script th:src="@{/static/js/ydui.flexible.js}"></script>
    <style type="text/css">
        .cell-item-common {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            /* position: ABSOLUTE; */
            padding-left: 0.24rem;
            overflow: hidden;
        }

    </style>
</head>
<body style="background-color: #FFFFFF;height: 80%;">
<div class="m-cell" style="margin-top: 2.25rem;margin-bottom: 5%;">
    <div class="cell-left">
        <p style="font-size: 24px;margin: auto auto 10px;">用户注册</p>
    </div>
    <div class="cell-item">
        <div class="cell-left">注册账号&nbsp;:&nbsp;</div>
        <div class="cell-right"><input type="number" pattern="[0-9]*" class="cell-input account" placeholder="请输入你的账号"
                                       autocomplete="off"/></div>
    </div>
    <div class="cell-item">
        <div class="cell-left">初始密码 &nbsp;:&nbsp;</div>
        <div class="cell-right"><input type="password" class="cell-input password" placeholder="请输入你的密码"
                                       autocomplete="off"/></div>
    </div>
    <div class="cell-item">
        <div class="cell-left">确认密码 &nbsp;:&nbsp;</div>
        <div class="cell-right"><input type="password" class="cell-input password-bak" placeholder="请输入你的密码"
                                       autocomplete="off"/></div>
    </div>
</div>
<div class="cell-item-common">
    <div class="cell-left" style="color:#0fa5ff;">
        <p><a href="sign">登录</a>&nbsp;/&nbsp;<a href="javascript:YDUI.dialog.alert('功能未开放!');">忘记密码</a></p>
    </div>
</div>
<button type="button" style="width: 90%;margin: auto;margin-top: 5%;" class="btn-block btn-primary">注 册</button>
<script th:src="@{/static/js/md5.js}"></script>
<!-- 引入jQuery 2.0+ -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<!-- 引入YDUI脚本 -->
<script th:src="@{/static/js/ydui.js}"></script>
<script th:href="@{/static/js/common.js}"></script>
</body>
</html>
